--- 
http_interactions: 
- request: 
    method: get
    uri: https://identi.ca/.well-known/host-meta
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/xrd+xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <XRD xmlns="http://docs.oasis-open.org/ns/xri/xrd-1.0"><hm:Host xmlns:hm="http://host-meta.net/xrd/1.0">identi.ca</hm:Host><Link rel="lrdd" template="http://identi.ca/main/xrd?uri={uri}"><Title>Resource Descriptor</Title></Link></XRD>
  recorded_at: Thu, 23 Aug 2012 04:42:24 GMT
- request: 
    method: get
    uri: http://identi.ca/main/xrd?uri=steveklabnik@identi.ca
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/xrd+xml
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <XRD xmlns="http://docs.oasis-open.org/ns/xri/xrd-1.0"><Subject>acct:steveklabnik@identi.ca</Subject><Alias>http://identi.ca/user/396889</Alias><Alias>http://identi.ca/steveklabnik</Alias><Link rel="http://webfinger.net/rel/profile-page" type="text/html" href="http://identi.ca/steveklabnik"></Link><Link rel="http://gmpg.org/xfn/11" type="text/html" href="http://identi.ca/steveklabnik"></Link><Link rel="describedby" type="application/rdf+xml" href="http://identi.ca/steveklabnik/foaf"></Link><Link rel="http://apinamespace.org/atom" type="application/atomsvc+xml" href="http://identi.ca/api/statusnet/app/service/steveklabnik.xml"><Property type="http://apinamespace.org/atom/username">steveklabnik</Property></Link><Link rel="http://apinamespace.org/twitter" href="https://identi.ca/api/"><Property type="http://apinamespace.org/twitter/username">steveklabnik</Property></Link><Link rel="http://schemas.google.com/g/2010#updates-from" href="http://identi.ca/api/statuses/user_timeline/396889.atom" type="application/atom+xml"></Link><Link rel="salmon" href="http://identi.ca/main/salmon/user/396889"></Link><Link rel="http://salmon-protocol.org/ns/salmon-replies" href="http://identi.ca/main/salmon/user/396889"></Link><Link rel="http://salmon-protocol.org/ns/salmon-mention" href="http://identi.ca/main/salmon/user/396889"></Link><Link rel="magic-public-key" href="data:application/magic-public-key,RSA.lkoawYmyxmF4PFEw5lt82N3eqWWcHsxZLvNOIQ69XtB-aEN4o26r-uxdBqDDnlKD1_a7PCb9J-3YnLu0ipMutJOqbEWbj1yiNRQwdpiP9HtZSuolvp4KmLcUbuXju21DOjWQbfFMDQsPwzVR6KfZwdU3zy7MNkFf8B0whZTxmD8=.AQAB"></Link><Link rel="http://ostatus.org/schema/1.0/subscribe" template="http://identi.ca/main/ostatussub?profile={uri}"></Link><Link rel="http://specs.openid.net/auth/2.0/provider" href="http://identi.ca/steveklabnik"></Link></XRD>
  recorded_at: Thu, 23 Aug 2012 04:42:24 GMT
- request: 
    method: get
    uri: http://identi.ca/api/statuses/user_timeline/396889.atom
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Etag: 
      - "\"ApiTimelineUser:0:en:396889:1299901531:1299891873\""
      Last-Modified: 
      - Sat, 12 Mar 2011 03:45:31 +0000
      X-Sup-Id: 
      - http://identi.ca/main/sup
      Content-Type: 
      - application/atom+xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <feed xml:lang="en-US" xmlns="http://www.w3.org/2005/Atom" xmlns:thr="http://purl.org/syndication/thread/1.0" xmlns:georss="http://www.georss.org/georss" xmlns:activity="http://activitystrea.ms/spec/1.0/" xmlns:media="http://purl.org/syndication/atommedia" xmlns:poco="http://portablecontacts.net/spec/1.0" xmlns:ostatus="http://ostatus.org/schema/1.0" xmlns:statusnet="http://status.net/schema/api/1/">
         <generator uri="http://status.net" version="1.1.0-release">StatusNet</generator>
         <id>http://identi.ca/api/statuses/user_timeline/396889.atom</id>
         <title>steveklabnik timeline</title>
         <subtitle>Updates from steveklabnik on Identi.ca!</subtitle>
         <logo>http://avatar3.status.net/i/identica/396889-96-20110312004840.jpeg</logo>
         <updated>2012-08-23T04:42:24+00:00</updated>
        <author>
         <activity:object-type>http://activitystrea.ms/schema/1.0/person</activity:object-type>
         <uri>http://identi.ca/user/396889</uri>
         <name>steveklabnik</name>
         <link rel="alternate" type="text/html" href="http://identi.ca/steveklabnik"/>
         <link rel="avatar" type="image/jpeg" media:width="125" media:height="125" href="http://avatar3.status.net/i/identica/396889-125-20110312004840.jpeg"/>
         <link rel="avatar" type="image/jpeg" media:width="96" media:height="96" href="http://avatar3.status.net/i/identica/396889-96-20110312004840.jpeg"/>
         <link rel="avatar" type="image/jpeg" media:width="48" media:height="48" href="http://avatar3.status.net/i/identica/396889-48-20110312004840.jpeg"/>
         <link rel="avatar" type="image/jpeg" media:width="24" media:height="24" href="http://avatar3.status.net/i/identica/396889-24-20110312004840.jpeg"/>
         <georss:point>40.44062 -79.99589</georss:point>
         <poco:preferredUsername>steveklabnik</poco:preferredUsername>
         <poco:displayName>Steve Klabnik</poco:displayName>
         <poco:note>Software craftsman, maintainer of @hacketyhack. I post about politics, software, startups, and random things I find interesting.</poco:note>
         <poco:address>
          <poco:formatted>Pittsburgh</poco:formatted>
         </poco:address>
         <poco:urls>
          <poco:type>homepage</poco:type>
          <poco:value>http://steveklabnik.com/</poco:value>
          <poco:primary>true</poco:primary>
         </poco:urls>
         <statusnet:profile_info local_id="396889"></statusnet:profile_info>
        </author>
        <!--Deprecation warning: activity:subject is present only for backward compatibility. It will be removed in the next version of StatusNet.-->
        <activity:subject>
         <activity:object-type>http://activitystrea.ms/schema/1.0/person</activity:object-type>
         <id>http://identi.ca/user/396889</id>
         <title>Steve Klabnik</title>
         <link rel="alternate" type="text/html" href="http://identi.ca/steveklabnik"/>
         <link rel="avatar" type="image/jpeg" media:width="125" media:height="125" href="http://avatar3.status.net/i/identica/396889-125-20110312004840.jpeg"/>
         <link rel="avatar" type="image/jpeg" media:width="96" media:he[...]
- request: 
    method: post
    uri: http://identi.ca/main/push/hub
    body: 
      encoding: US-ASCII
      string: hub.mode=subscribe&hub.callback=http%3a%2f%2fwww.example.com%2fsubscriptions%2f5035b4b065588f2987000043.atom&hub.verify=async&hub.verify_token=fa9397aef6807310612984a6b0a6d3ca&hub.lease_seconds=&hub.secret=f55be0ed2465e9c5eb1114dcfa284793&hub.topic=http%3a%2f%2fidenti.ca%2fapi%2fstatuses%2fuser_timeline%2f396889.atom
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - text/html
    body: 
      encoding: US-ASCII
      string: ""
  recorded_at: Thu, 23 Aug 2012 04:42:27 GMT
recorded_with: VCR 2.2.4
